body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.from {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  padding: 100px;
  background-color: pink;
}

label {
  margin-bottom: 5px;
}

input {
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 20px;
  border: 2px solid black !important;
}

button {
  border-radius: 10px;
  padding: 8px;
  background-color: aquamarine;
  cursor: pointer;
}

button:hover {
  background-color: beige;
}

p {
  font-size: 14px;
  text-align: center;
}


